healthvault/reference/xsd/method-sendinsecuremessageprivileged.xsd

<?xml version="1.0"?>
<!-- Copyright (c) Microsoft Corporation. All rights reserved. -->
<schema
    targetNamespace="urn:com.microsoft.wc.methods.SendInsecureMessagePrivileged"
    xmlns:this="urn:com.microsoft.wc.methods.SendInsecureMessagePrivileged"
    xmlns:wc-types="urn:com.microsoft.wc.types"
    xmlns="http://www.w3.org/2001/XMLSchema" >

    <!--

        METHOD-SENDINSECUREMESSAGEPRIVILEGED.XSD
        Microsoft HealthVault

        Platform API: Info schema for SendInsecureMessagePrivileged method

    -->

    <import
        namespace="urn:com.microsoft.wc.types"
        schemaLocation="types.xsd" />

    <annotation>
        <documentation>
            <summary>
                Sends an insecure email message to the specified recipients 
                from the specified sender. Can include attachments. 
            </summary>

            <remarks>                
                The recipients can be specified by their email address, by 
                using their Microsoft Health account unique identifier, or 
                by specifying the health record unique identifier. If the 
                health record unique identifier is specified, then all 
                custodians of the record will receive the message.
            </remarks>

            <errors>
                <error id="MAIL_ADDRESS_MALFORMED">
                    If a recipient address is specified and the email
                    address is not a properly formatted email address, or
                    if the sender's address is not a properly formatted
                    email address. 
                </error>
                <error id="INVALID_PERSON">
                    If a recipient address is specified using a
                    Microsoft Health account unique identifier and the
                    account does not exist or is not active.
                </error>
                <error id="EMAIL_NOT_VALIDATED">
                    If a recipient address is specified using a
                    Microsoft Health account unique identifier or the
                    unique health record identifier and the
                    email address for the account has not been validated,
                    or the sender's e-mail address has not been validated.
                </error>
                <error id="INVALID_RECORD">
                    If the health record unique identifier is specified
                    as the recipient and the record could not be found.
                </error>
                <error id="INVALID_RECORD_STATE">
                    If the health record unique identifier is specified
                    as the recipient and the record is not in the active
                    or read-only state.
                </error>
            </errors>
            
        </documentation>
    </annotation>

    <!-- SendInsecureMessagePrivileged- - - - - - - - - - - - - - - - -->

    <!-- leaving this as a separate type since we may choose to add other fields
    later. e.g. reply-to, -->
    <complexType name="FromAddress">
        <annotation>
            <documentation>
                <summary>
                Specifies the message sender
                </summary>

                <remarks>

                </remarks>
            </documentation>
        </annotation>
        <sequence>
            <element name="address" type="string" >
                <annotation>
                    <documentation>
                        <summary>
                        The sender's email address
                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>

            <element name="name" type="string" >
                <annotation>
                    <documentation>
                        <summary>
                        The sender's display name. 
                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>

        </sequence>
    </complexType>    

    <complexType name="Attachment">
        <annotation>
            <documentation>
                <summary>
                An attachment to add to the message
                </summary>

                <remarks>

                </remarks>
            </documentation>
        </annotation>
        <simpleContent>
            <extension base="string">
                <attribute name="name" type="string" use="optional">
                    <annotation>
                        <documentation>
                            <summary>
                            The attachment content
                            </summary>

                            <remarks>

                            </remarks>
                        </documentation>
                    </annotation>
                </attribute>

            </extension>
        </simpleContent>
    </complexType>

    <element name="info">
        <complexType>
            <annotation>
                <documentation>
                    <summary>
                        The element of the request that contains the method
                        specific parameters.
                    </summary>

                    <remarks>

                    </remarks>
                </documentation>
            </annotation>
            <sequence>

                <element name="from-address" type="this:FromAddress"
                    minOccurs="1" maxOccurs="1" >
                    <annotation>
                        <documentation>
                            <summary>
                                Specifies the message sender
                            </summary>

                            <remarks>

                            </remarks>
                        </documentation>
                    </annotation>
                </element>

                <element name="rcpt-address" type="wc-types:RcptAddress"
                    minOccurs="0" maxOccurs="unbounded" >
                    <annotation>
                        <documentation>
                            <summary>
                                The email address(es) to send the message to.
                            </summary>

                            <remarks>

                            </remarks>
                        </documentation>
                    </annotation>
                </element>

                <element name="rcpt-person" type="wc-types:RcptPerson"
                    minOccurs="0" maxOccurs="unbounded" >
                    <annotation>
                        <documentation>
                            <summary>
                                The Microsoft Health account(s) to send the
                                message to.
                            </summary>

                            <remarks>

                            </remarks>
                        </documentation>
                    </annotation>
                </element>

                <element name="rcpt-record" type="wc-types:RcptRecord"
                    minOccurs="0" maxOccurs="1" >
                    <annotation>
                        <documentation>
                            <summary>
                                The health record custodians to send the message
                                to.
                            </summary>

                            <remarks>

                            </remarks>
                        </documentation>
                    </annotation>
                </element>
                <!-- uses request rec -->

                <element name="subject" type="string"
                    minOccurs="1" maxOccurs="1" >
                    <annotation>
                        <documentation>
                            <summary>
                                The subject of the message.
                            </summary>

                            <remarks>
                                This will show up in the subject field
                                of the email message.
                            </remarks>
                        </documentation>
                    </annotation>
                </element>


                <element name="text-body" type="string"
                    minOccurs="0" maxOccurs="1" >
                    <annotation>
                        <documentation>
                            <summary>
                                A textual representation of the message.
                            </summary>

                            <remarks>
                                The message can consist of two parts. One
                                part of the message can consist of richly
                                formatted text using HTML and the other must
                                be plain text to support email programs that
                                don't support the rich views or those where
                                rich viewing has been disabled.
                            </remarks>
                        </documentation>
                    </annotation>
                </element>

                <element name="html-body" type="string"
                    minOccurs="0" maxOccurs="1" >
                    <annotation>
                        <documentation>
                            <summary>
                                An HTML representation of the message.s
                            </summary>

                            <remarks>
                                The message can consist of two parts. One
                                part of the message can consist of richly
                                formatted text using HTML and the other must
                                be plain text to support email programs that
                                don't support the rich views or those where
                                rich viewing has been disabled.
                            </remarks>
                        </documentation>
                    </annotation>
                </element>


                <!-- The attachment base64 encoded -->
                <element name="attachment" type="this:Attachment"
                    minOccurs="0" maxOccurs="unbounded" >
                    <annotation>
                        <documentation>
                            <summary>
                                A binary attachment to send with the message.
                            </summary>

                            <remarks>
                                The attachment should be base64 encoded.
                            </remarks>
                        </documentation>
                    </annotation>
                </element>

            </sequence>
        </complexType>
    </element>
</schema>
