healthvault/datatypes/xsd/pap-session.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:t="urn:com.microsoft.wc.thing.types" xmlns:d="urn:com.microsoft.wc.dates" xmlns:this="urn:com.microsoft.wc.thing.pap-session" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:com.microsoft.wc.thing.pap-session">
    <import namespace="urn:com.microsoft.wc.thing.types" schemaLocation="base.xsd"/>
    <import namespace="urn:com.microsoft.wc.dates" schemaLocation="dates.xsd"/>
    <annotation>
        <documentation>
            <type-id>9085CAD9-E866-4564-8A91-7AD8685D204D</type-id>
            <type-name>PAP session</type-name>
            <wrapper-class-name>PAPSession</wrapper-class-name>
            <wrapper-class-fwlink>182965</wrapper-class-fwlink>
            <sample-xml-fwlink />
            <data-type-guide-fwlink />
            <summary>
                A Positive Airway Pressure (PAP) session.
            </summary>
            <remarks>
                A common use for PAP therapy is in the treatment of sleep apnea.
            </remarks>
            <seealso-thing-type-version-id>031F5706-7F1A-11DB-AD56-7BD355D89593</seealso-thing-type-version-id>
            <seealso-thing-type-version-id>11C52484-7F1A-11DB-AEAC-87D355D89593</seealso-thing-type-version-id>
            <effective-date-element>when</effective-date-element>
        </documentation>
    </annotation>
    <complexType name="pap-session-pressure">
        <sequence>
            <element name="mean" type="t:pressure-value" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            Mean pressure delivered during the session.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="median" type="t:pressure-value" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            Median pressure delivered during the session.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="maximum" type="t:pressure-value" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            Greatest pressure delivered during the session.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="percentile-95th" type="t:pressure-value" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            Pressure was delivered at or below this value 95% of the time.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="percentile-90th" type="t:pressure-value" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            Pressure was delivered at or below this value 90% of the time.
                        </summary>
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="pap-session-leak-rate">
        <sequence>
            <element name="mean" type="t:flow-value" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            Mean unintentional leak rate that occurred  during the session.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="median" type="t:flow-value" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            Median unintentional leak rate that occurred  during the session.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="maximum" type="t:flow-value" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            Greatest unintentional leak rate that occured during the session.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="percentile-95th" type="t:flow-value" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            Unintentional leak rate was at or below this value 95% of the time.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="percentile-90th" type="t:flow-value" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            The leak rate was at or below this value 90% of the time.
                        </summary>
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="pap-session-tidal-volume">
        <sequence>
            <element name="mean" type="t:volume-value" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            Mean tidal volume during the session.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="median" type="t:volume-value" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            Median tidal volume during the session.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="maximum" type="t:volume-value" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            Greatest tidal volume during the session.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="percentile-95th" type="t:volume-value" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            Tidal volume was at or below this value 95% of the time.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="percentile-90th" type="t:volume-value" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            Tidal volume was at or below this value 90% of the time.
                        </summary>
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="pap-session-minute-ventilation">
        <sequence>
            <element name="mean" type="t:volume-value" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            Mean volume of gas per minute exhaled from the lungs during the session.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="median" type="t:volume-value" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            Median volume of gas per minute exhaled from the lungs during the session.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="maximum" type="t:volume-value" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            Greatest volume of gas per minute exhaled from the lungs during the session.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="percentile-95th" type="t:volume-value" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            Volume of gas exhaled per minute was at or below this value 95% of the time.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="percentile-90th" type="t:volume-value" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            Volume of gas exhaled per minute was at or below this value 90% of the time.
                        </summary>
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="pap-session-respiratory-rate">
        <sequence>
            <element name="mean" type="t:respiratory-rate-value" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            Mean breaths per minute during the session.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="median" type="t:respiratory-rate-value" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            Median breaths per minute during the session.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="maximum" type="t:respiratory-rate-value" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            Greatest number of breaths per minute during the session.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="percentile-95th" type="t:respiratory-rate-value" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            Respiratory rate was at or below this value 95% of the time.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="percentile-90th" type="t:respiratory-rate-value" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            Respiratory rate was at or below this value 90% of the time.
                        </summary>
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <element name="pap-session">
        <complexType>
            <annotation>
                <documentation>
                    <summary>
                        The Positive Airway Pressure (PAP) Session records data collected during a PAP session.  A common use for PAP therapy is in the treatment of sleep apnea.
                    </summary>
                    <remarks/>
                </documentation>
            </annotation>
            <sequence>
                <element name="when" type="d:date-time">
                    <annotation>
                        <documentation>
                            <summary>
                                The date and time of when the session was started.
                            </summary>
                        </documentation>
                    </annotation>
                </element>
                <element name="duration-minutes" type="t:nonNegativeDouble">
                    <annotation>
                        <documentation>
                            <summary>
                                The number of minutes in the session.
                            </summary>
                        </documentation>
                    </annotation>
                </element>
                <element name="apnea-hypopnea-index" type="t:nonNegativeDouble">
                    <annotation>
                        <documentation>
                            <summary>
                                The number of Apnea and Hypopnea events per hour.
                            </summary>
                        </documentation>
                    </annotation>
                </element>
                <element name="apnea-index" type="t:nonNegativeDouble" minOccurs="0">
                    <annotation>
                        <documentation>
                            <summary>
                                The number of Apnea events per hour.
                            </summary>
                        </documentation>
                    </annotation>
                </element>
                <element name="hypopnea-index" type="t:nonNegativeDouble" minOccurs="0">
                    <annotation>
                        <documentation>
                            <summary>
                                The number of Hypopnea events per hour.
                            </summary>
                        </documentation>
                    </annotation>
                </element>
                <element name="oxygen-desaturation-index" type="t:nonNegativeDouble" minOccurs="0">
                    <annotation>
                        <documentation>
                            <summary>
                                The number of oxygen desaturation events per hour.
                            </summary>
                        </documentation>
                    </annotation>
                </element>
                <element name="pressure" type="this:pap-session-pressure" minOccurs="0">
                    <annotation>
                        <documentation>
                            <summary>
                                The pressure measurements during the session.
                            </summary>
                        </documentation>
                    </annotation>
                </element>
                <element name="leak-rate" type="this:pap-session-leak-rate" minOccurs="0">
                    <annotation>
                        <documentation>
                            <summary>
                                The leak rate measurements during the session.
                            </summary>
                        </documentation>
                    </annotation>
                </element>
                <element name="tidal-volume" type="this:pap-session-tidal-volume" minOccurs="0">
                    <annotation>
                        <documentation>
                            <summary>
                                The tidal volume measurements during the session.
                            </summary>
                        </documentation>
                    </annotation>
                </element>
                <element name="minute-ventilation" type="this:pap-session-minute-ventilation" minOccurs="0">
                    <annotation>
                        <documentation>
                            <summary>
                                The minute ventilation measurements during the session.
                            </summary>
                        </documentation>
                    </annotation>
                </element>
                <element name="respiratory-rate" type="this:pap-session-respiratory-rate" minOccurs="0">
                    <annotation>
                        <documentation>
                            <summary>
                                The respiratory rate measurements during the session.
                            </summary>
                        </documentation>
                    </annotation>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
