healthvault/healthvault/reference/xsd/method-createcredentialtoken.xsd

<?xml version="1.0"?>
<!-- Copyright (c) Microsoft Corporation. All rights reserved. -->
<schema
    targetNamespace="urn:com.microsoft.wc.methods.CreateCredentialToken"
    xmlns:this="urn:com.microsoft.wc.methods.CreateCredentialToken"
    xmlns:wc-types="urn:com.microsoft.wc.types"
    xmlns:wc-auth="urn:com.microsoft.wc.auth"
    xmlns="http://www.w3.org/2001/XMLSchema" >

    <!--

    METHOD-CreateCredentialToken.XSD
    Microsoft HealthVault

    Platform API: Info schema for CreateCredentialToken method

    -->

    <import
        namespace="urn:com.microsoft.wc.types"
        schemaLocation="types.xsd" />
    <import
        namespace="urn:com.microsoft.wc.auth"
        schemaLocation="auth.xsd" />

    <annotation>
        <documentation>
            <summary>
                Creates a credential token from a simple credential supplied
                by the shell.
            </summary>

            <remarks>
                The credential tokens retrieved are then used as sub-credentials
                during subsequent CreateAuthenticatedSessionToken calls.
                That is, the credential tokens themselves only serve as a means
                to construct a fully authenticated session.
            </remarks>
            <version>1,2</version>
        </documentation>
    </annotation>

    <!-- this is a scoped down wc-types:Credential -->
    <complexType name="Credential">
        <annotation>
            <documentation>
                <summary>
                    Provides a simple credential that the platform will then
                    authenticate and issue a credential token from.
                </summary>

                <remarks>
                    A simple credential is one that only contains enough information
                    to authenticate the user, and does not imply anything
                    about the session it will be used for.
                </remarks>
            </documentation>
        </annotation>
        <sequence>
            <choice>
                <element name="simple-encrypted"
                    type="wc-types:stringnz">
                    <annotation>
                        <documentation>
                            <summary>
                                A simple credential encrypted for use in subsequent method calls.
                            </summary>

                            <remarks>
                                This opaque credential is returned by the create credential calls.
                                It represents the original authenticating credential.
                            </remarks>
                        </documentation>
                    </annotation>
                </element>
                <element name="simple-userpass"
                    type="wc-auth:UserPassCred">
                    <annotation>
                        <documentation>
                            <summary>
                                A simple credential consisting of username and password.
                            </summary>

                            <remarks>
                                Both the username and password are in plaintext.
                            </remarks>
                        </documentation>
                    </annotation>
                </element>

                <element name="federating"
                    type="wc-auth:FederatingCred">
                    <annotation>
                        <documentation>
                            <summary>
                                A simple credential consisting of a federating
                                token, which will be used to derive a new
                                credential token for the specified application.
                            </summary>

                            <remarks>
                                The federating credential is provided by the shell.
                            </remarks>
                        </documentation>
                    </annotation>
                </element>

                <element name="simple-passport"
                    type="wc-auth:SimplePassportCredential">
                    <annotation>
                        <documentation>
                            <summary>
                                A credential consisting of a token containing the
                                PUID from a Microsoft Passport login.
                            </summary>

                            <remarks>
                                The PUID can be provided by the Shell or a smart
                                client application.
                            </remarks>
                        </documentation>
                    </annotation>
                </element>

                <element name="simple-openid"
                    type="wc-auth:SimpleOpenIdCredential">
                    <annotation>
                        <documentation>
                            <summary>
                                Represents the confirmed claimed id of a user who
                                has been authenticated to an Open Id Provider.
                            </summary>

                            <remarks>
                                Authentication is performed to an Open Id Provider through
                                Shell which passes it to platform for verification
                                against a HealthVault account.
                            </remarks>
                        </documentation>
                    </annotation>
                </element>

                <element name="simple-facebook"
                    type="wc-auth:SimpleFacebookCredential">
                    <annotation>
                        <documentation>
                            <summary>
                                Represents the confirmed user id of a user who
                                has been authenticated to a Facebook Provider.
                            </summary>

                            <remarks>
                                Authentication is performed through Shell which
                                passes it to platform for verification against
                                a HealthVault account.
                            </remarks>
                        </documentation>
                    </annotation>
                </element>

                <element name="simple-emergency-access"
                    type="wc-auth:SimpleEmergencyAccessCredential">
                    <annotation>
                        <documentation>
                            <summary>
                                Represents a code to access a record for
                                emergency purposes.
                            </summary>
                        </documentation>
                    </annotation>
                </element>

                <element name="integrated-windows" type="wc-auth:IntegratedWindowsCredential">
                    <annotation>
                        <documentation>
                            <summary>
                                A simple integrated windows authentication consisting of the
                                windows security identity.
                            </summary>
                        </documentation>
                    </annotation>
                </element>

                <element name="saml" type="wc-auth:SamlCredentialWithToken">
                    <annotation>
                        <documentation>
                            <summary>
                                SAML token issued for a user by a trusted STS.
                            </summary>
                        </documentation>
                    </annotation>
                </element>
                
                <element name="msa-with-ticket" type="wc-auth:MSACredentialWithLongTicket">
                    <annotation>
                        <documentation>
                            <summary>
                                A credential for verifying identity with MSA.
                            </summary>
                        </documentation>
                    </annotation>
                </element>                
            </choice>
            <element name="second-factor-credential" type="wc-auth:SecondFactorCredential"
                minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            Credential for two factor authentication.
                        </summary>
                        <remarks>
                            This credential is optional.  If the account requires two factor
                            authentication, the this credential must be passed.
                        </remarks>
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <!-- CreateCredentialToken - - - - - - - - - - - - - - - - - - - - - - - -->
    <complexType name="AuthTokenInfo">
        <annotation>
            <documentation>
                <summary>
                    Enables a caller to specify which applications to create
                    credential tokens for and the authenticating credential
                    itself.
                </summary>

                <remarks>
                    Multiple applications can specified for a single credential.
                </remarks>
            </documentation>
        </annotation>
        <sequence>
            <element name="app-id" type="wc-types:AppInfo"
                minOccurs="1" maxOccurs="2">
                <annotation>
                    <documentation>
                        <summary>
                            The applications to create credential tokens for.
                        </summary>

                        <remarks>
                            Each application will be issued a unique token.
                        </remarks>
                    </documentation>
                </annotation>
            </element>

            <element name="credential"
                type="this:Credential">
                <annotation>
                    <documentation>
                        <summary>
                            The authenticating credential.
                        </summary>

                        <remarks>
                            In order to issue credential tokens for applications,
                            the credential must successfully be authenticated.
                        </remarks>
                    </documentation>
                </annotation>
            </element>

            <element name="sts-info" type="this:STSInfo" minOccurs="0">
              <annotation>
                <documentation>
                  <summary>
                    Indicates that the token should be returned in STS claim format, 
                    and provides the redirect URL that will be used.
                  </summary>
                </documentation>
              </annotation>
            </element>
        </sequence>
    </complexType>

  <complexType name="STSInfo">
    <annotation>
      <documentation>
        <summary>
            Information required to generate an STS claim
          </summary>
      </documentation>
    </annotation>
    <sequence>
      <element name="original-request-url" type="wc-types:stringnz">
        <annotation>
          <documentation>
            <summary>
                The URL of the original request to the STS server.
              </summary>
            <remarks>
                This URL must contain the following parameters in the query string:
                  wa (must be set to "wsignin1.0")
                  wctx 
                  wreply
              </remarks>
          </documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>

    <element name="info">
        <complexType>
            <annotation>
                <documentation>
                    <summary>
                        Parameters for CreateCredentialToken.
                    </summary>

                    <remarks>
                        Credential tokens are needed for establishing 
                        a subsequent authenticated session via a call
                        to CreateAuthenticatedSessionToken.
                    </remarks>
                </documentation>
            </annotation>
            <sequence>
                <element name="auth-info"
                    type="this:AuthTokenInfo">
                    <annotation>
                        <documentation>
                            <summary>
                                Enables a caller to specify which applications to create
                                credential tokens for and the authenticating credential
                                itself.
                            </summary>

                            <remarks>
                                Multiple applications can specified for a single credential.
                            </remarks>
                        </documentation>
                    </annotation>
                </element>

            </sequence>
        </complexType>
    </element>

</schema>


