healthvault/healthvault/reference/xsd/response-getservicedefinition2.xsd

<?xml version="1.0"?>
<!-- Copyright (c) Microsoft Corporation. All rights reserved. -->
<schema
    targetNamespace="urn:com.microsoft.wc.methods.response.GetServiceDefinition2"
    xmlns:this="urn:com.microsoft.wc.methods.response.GetServiceDefinition2"
    xmlns:wc-types="urn:com.microsoft.wc.types"
    xmlns="http://www.w3.org/2001/XMLSchema" >

    <!--

        RESPONSE-GETSERVICEDEFINITION2.XSD
        Microsoft HealthVault

        Platform API: Info schema for GetServiceDefinition2 method response

    -->

    <import
      namespace="urn:com.microsoft.wc.types"
      schemaLocation="types.xsd" />

    <annotation>
        <documentation>
            <summary>
                Gets information about Microsoft HealthVault and
                its related features.
            </summary>

            <remarks>
                GetServiceDefinition gets information about
                Microsoft HealthVault such as its version, the schemas for its
                published methods, and pointers to the Microsoft HealthVault
                Shell and software development kit.
            </remarks>
            <method-visibility>Public</method-visibility>
            <version>2</version>
        </documentation>
    </annotation>


    <!-- info - - - - - -  - - - - - - - - - - - - - - -->

    <complexType name="ConfigurationEntry">
        <annotation>
            <documentation>
                <summary>
                    A configuration value that is important for developers
                    to know about Microsoft HealthVault.
                </summary>

                <remarks>
                    Microsoft HealthVault has some configuration that
                    dictates the behavior of certain methods and data. For
                    instance, GetThings will return only a certain number
                    of full things in the response and give only thing keys
                    for anything beyond that limit. The number of full things
                    returned is defined by configuration and can be changed
                    at any time to optimize the services ability to respond
                    to applications. These configuration values are surfaced
                    here so that application developers can make programmatic
                    decisions based on these values if necessary.
                </remarks>
            </documentation>
        </annotation>
        <simpleContent>
            <extension base="string">
                <attribute name="key"
                    type="string" use="required">
                    <annotation>
                        <documentation>
                            <summary>
                                The name of the configuration value.
                            </summary>
                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </simpleContent>
    </complexType>

    <complexType name="Platform">
        <annotation>
            <documentation>
                <summary>
                    Information about Microsoft HealthVault.
                </summary>
            </documentation>
        </annotation>
        <sequence>
            <element name="url" type="string" >
                <annotation>
                    <documentation>
                        <summary>
                            The URL to use to access the Microsoft HealthVault
                            web service methods.
                        </summary>

                        <remarks>
                            Microsoft HealthVault method requests
                            must go through this URL.
                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="version" type="string" >
                <annotation>
                    <documentation>
                        <summary>
                            The Microsoft HealthVault version number.
                        </summary>

                        <remarks>
                            This version number will follow the general
                            .NET guidlines for versioning of assemblies:
                            major.minor.build.revision. Changes to the
                            major version number signify breaking changes.
                            Changes to other parts of the version signify
                            added or updates to functionality.
                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="configuration"
                type="this:ConfigurationEntry"
                minOccurs="0"
                maxOccurs="unbounded" >
                <annotation>
                    <documentation>
                        <summary>
                            Configuration values that are important for developers
                            to know about Microsoft HealthVault.
                        </summary>

                        <remarks>
                            Microsoft HealthVault has some configuration that
                            dictates the behavior of certain methods and data. For
                            instance, GetThings will return only a certain number
                            of full things in the response and give only thing keys
                            for anything beyond that limit. The number of full things
                            returned is defined by configuration and can be changed
                            at any time to optimize the services ability to respond
                            to applications. These configuration values are surfaced
                            here so that application developers can make programmatic
                            decisions based on these values if necessary.
                        </remarks>
                    </documentation>
                </annotation>
            </element>


        </sequence>
    </complexType>

    <complexType name="ShellRedirectToken">
        <annotation>
            <documentation>
                <summary>
                    A representation of the redirect information that can be
                    supplied along with the Shell redirect url to access specific
                    functionalities in the Shell.
                </summary>
            </documentation>
        </annotation>
        <sequence>
            <element name="token" type="string">
                <annotation>
                    <documentation>
                        <summary>
                            A string token used to redirect to specific parts
                            within the Shell, accessing specific functions.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="description" type="string">
                <annotation>
                    <documentation>
                        <summary>
                            A localized text description of the Shell
                            functionality accessible by using the token.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="querystring-parameters" type="string">
                <annotation>
                    <documentation>
                        <summary>
                            A comma seperated list of parameters that must
                            be supplied in the query string in addition to
                            the redirect token.
                        </summary>
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="Shell">
        <annotation>
            <documentation>
                <summary>
                    Information about the Microsoft HealthVault Shell.
                </summary>
            </documentation>
        </annotation>
        <sequence>
            <element name="url" type="string" >
                <annotation>
                    <documentation>
                        <summary>
                            The URL used to access the Microsoft HealthVault Shell.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="redirect-url" type="string">
                <annotation>
                    <documentation>
                        <summary>
                            The URL used to redirect to specific functions within the Microsoft HealthVault Shell.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="redirect-token"
                type="this:ShellRedirectToken"
                minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>
                        <summary>
                            The possible redirect tokens that can be supplied
                            in addition to the redirect url to route to specific
                            functionalities within the Shell.
                        </summary>
                    </documentation>
                </annotation>
            </element>

        </sequence>
    </complexType>

    <complexType name="XmlMethodVersion">
        <annotation>
            <documentation>
                <summary>
                    Information about a particular version of one of the
                    Microsoft HealthVault XML web-methods.
                </summary>
            </documentation>
        </annotation>
        <sequence>
            <element name="request-schema-url"
                     type="string"
                     minOccurs="0"
                     maxOccurs="1" >
                <annotation>
                    <documentation>
                        <summary>
                            The URL of the method request schema.
                        </summary>

                        <remarks>
                            The URL points to an .xsd file defining the
                            schema for a request to this method.
                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="response-schema-url"
                     type="string"
                     minOccurs="0"
                     maxOccurs="1" >
                <annotation>
                    <documentation>
                        <summary>
                            The URL of the method response schema.
                        </summary>

                        <remarks>
                            The URL points to an .xsd file defining the
                            schema for a response from this method.
                        </remarks>
                    </documentation>
                </annotation>
            </element>


        </sequence>
        <attribute name="number" type="string" use="required">
            <annotation>
                <documentation>
                    <summary>
                        The version number of the method.
                    </summary>

                    <remarks>
                        The version number for a Microsoft HealthVault
                        web-method is a sequencially increasing number starting
                        at one. Breaking changes to a method will increment
                        the version number for the method but old versions of
                        a method are still available to handle requests. The
                        method request must contain the appropriate method
                        version number for the XML schema that it is sending.
                    </remarks>
                </documentation>
            </annotation>
        </attribute>

    </complexType>

    <complexType name="XmlMethod">
        <annotation>
            <documentation>
                <summary>
                    Information about a Microsoft HealthVault web-method.
                </summary>
            </documentation>
        </annotation>
        <sequence>
            <element name="name" type="string" >
                <annotation>
                    <documentation>
                        <summary>
                            The name of the Microsoft HealthVault method.
                        </summary>

                        <remarks>
                            The name is used in the XML request to define the
                            method the request is calling.
                        </remarks>
                    </documentation>
                </annotation>
            </element>

            <element name="version"
                type="this:XmlMethodVersion"
                minOccurs="0"
                maxOccurs="unbounded" >
                <annotation>
                    <documentation>
                        <summary>
                            The set of available versions of the method.
                        </summary>
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="InstanceList">
        <annotation>
            <documentation>
                <summary>
                    Information about each of the HealthVault instances in the
                    global HealthVault ecosystem.
                </summary>
                <remarks>
                    An instance is a single deployment of HealthVault services
                    and health record storage primarily for users from a
                    particular region or constituent population.
                </remarks>
            </documentation>
        </annotation>
        <sequence>
            <element name="instance" type="wc-types:Instance"
                     minOccurs="1" maxOccurs="unbounded" >
                <annotation>
                    <documentation>
                        <summary>
                            Information about one HealthVault instance in the
                            global HealthVault ecosystem.
                        </summary>
                        <remarks>
                            An instance is a single deployment of HealthVault services
                            and health record storage primarily for users from a
                            particular region or constituent population.
                        </remarks>
                    </documentation>
                </annotation>
            </element>
        </sequence>
        <attribute name="current-instance-id" type="wc-types:string255nw">
            <annotation>
                <documentation>
                    <summary>
                        The unique identifier for the instance to which
                        the application is currently connected.
                    </summary>
                </documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="MeaningfulUse">
        <annotation>
            <documentation>
                <summary>
                    Configuration information for the Meaningful Use feature.
                </summary>
            </documentation>
        </annotation>
        <sequence>
            <element name="enabled" type="boolean" >
                <annotation>
                    <documentation>
                        <summary>
                            Indicates whether Meaningful Use feature is
                            enabled for this instance.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="configuration"
              type="this:ConfigurationEntry"
              minOccurs="0"
              maxOccurs="unbounded" >
                <annotation>
                    <documentation>
                        <summary>
                            Configuration values that are important for developers
                            to know about Microsoft HealthVault's Meaningful Use feature.
                        </summary>

                        <remarks>
                            Microsoft HealthVault has some configuration that
                            dictates the behavior of certain Meaningful Use operations. For
                            instance, GetMeaningfulUseVDTReport will return only a certain number
                            of items in the response if result set is large and paging is required.
                            The number of items returned per page
                            is defined by MaxMeaningfulUseReportItemsPerRetrieval configuration and can be changed
                            at any time to optimize the service's ability to respond
                            to applications. These configuration values are surfaced
                            here so that application developers can make programmatic
                            decisions based on these values if necessary.
                        </remarks>
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <element name="info">
        <complexType>
            <annotation>
                <documentation>
                    <summary>
                        The element of the request that contains the method
                        specific parameters.
                    </summary>

                    <remarks>
                        All requests contain the info element to pass parameters
                        that are specific to each method. If the method does not
                        define an info element, the method does not take any
                        parameters.
                    </remarks>
                </documentation>
            </annotation>
            <sequence>
                <element name="platform"
                         type="this:Platform"
                         minOccurs="0">
                    <annotation>
                        <documentation>
                            <summary>
                                Information about Microsoft HealthVault.
                            </summary>
                        </documentation>
                    </annotation>
                </element>


                <element name="shell"
                         type="this:Shell"
                         minOccurs="0">
                    <annotation>
                        <documentation>
                            <summary>
                                Information about the Microsoft HealthVault Shell.
                            </summary>
                        </documentation>
                    </annotation>
                </element>


                <element name="xml-method"
                         type="this:XmlMethod"
                         minOccurs="0"
                         maxOccurs="unbounded" >
                    <annotation>
                        <documentation>
                            <summary>
                                Information about the Microsoft HealthVault
                                web methods.
                            </summary>
                        </documentation>
                    </annotation>
                </element>

                <element name="common-schema"
                         type="string"
                         minOccurs="0"
                         maxOccurs="unbounded" >
                    <annotation>
                        <documentation>
                            <summary>
                                URLs of schemas referenced by the Microsoft
                                HealthVault web service methods.
                            </summary>
                        </documentation>
                    </annotation>
                </element>

                <element name="instances"
                         type="this:InstanceList"
                         minOccurs="0">
                    <annotation>
                        <documentation>
                            <summary>
                                Information about each of the HealthVault
                                instances in the global HealthVault ecosystem.
                            </summary>
                            <remarks>
                                An instance is a single deployment of HealthVault
                                services and health record storage primarily
                                for users from a particular region or
                                constituent population.
                            </remarks>
                        </documentation>
                    </annotation>
                </element>

                <element name="meaningful-use"
                         type="this:MeaningfulUse"
                         minOccurs="0">
                    <annotation>
                        <documentation>
                            <summary>
                                Configuration information for Meaningful Use features.
                            </summary>
                            <remarks>
                            </remarks>
                        </documentation>
                    </annotation>
                </element>

                <element name="updated-date" type="dateTime" minOccurs="0" >
                    <annotation>
                        <documentation>
                            <summary>
                                The last time the response was updated.
                            </summary>
                            <remarks>
                                Callers can use this return value to cache the results of the
                                response and poll for service definition updates periodically,
                                passing in the timestamp returned from the last call that
                                returned a nonempty response. The server will determine if
                                any updates have occurred since that timestamp and only return
                                a nonempty response if there were any updates.
                                Note, there may be slight variations between servers depending
                                on when each server was updated with the new data. This
                                variation may differ in a number of minutes but under normal
                                conditions will be less than an hour.
                            </remarks>
                        </documentation>
                    </annotation>
                </element>

            </sequence>
        </complexType>
    </element>

</schema>