healthvault/healthvault/reference/xsd/task.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:t="urn:com.microsoft.wc.thing.types" xmlns:d="urn:com.microsoft.wc.dates" xmlns:this="urn:com.microsoft.wc.thing.task" targetNamespace="urn:com.microsoft.wc.thing.task" xmlns="http://www.w3.org/2001/XMLSchema">
    <import namespace="urn:com.microsoft.wc.thing.types" schemaLocation="base.xsd" />
    <import namespace="urn:com.microsoft.wc.dates" schemaLocation="dates.xsd" />
    
    <annotation>
        <documentation>
            <type-id>6184d61f-4846-4219-b675-b61de85860d1</type-id>
            <type-name>Task</type-name>
            <summary>
                A task assigned to a user as part of a plan.
            </summary>
            <remarks>
                Applications should not interact with this data type directly via GetThings, PutThings, etc.
                Instead, they should use the ActionPlan methods in the HealthVault REST APIs.
            </remarks>
            <effective-date-element>date-started</effective-date-element>
            <seealso-thing-type-version-id>504d6c08-68f9-4e07-8699-5fb55678f13d</seealso-thing-type-version-id>
            <seealso-thing-type-version-id>b54a6e00-c1fb-4e22-8694-0a4ae94e8cb6</seealso-thing-type-version-id>
        </documentation>
    </annotation>

    <complexType name="strings">
        <sequence>
            <element name="string" type="string" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="guids">
        <sequence>
            <element name="id" type="t:guid" minOccurs="1" maxOccurs="unbounded" />
        </sequence>
    </complexType>
    
    <complexType name="task-schedules">
        <sequence>
            <element name="schedule" type="this:task-schedule" minOccurs="1" maxOccurs="unbounded" />
        </sequence>
    </complexType>
    
    <complexType name="task-schedule">
        <annotation>
            <documentation>
                <summary>
                    A schedule for when the task is to be performed.
                </summary>
            </documentation>
        </annotation>
        <sequence>
            <element name="start-date-time" type="d:date-time">
                <annotation>
                    <documentation>
                        <summary>
                            The start time for completing the task.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="end-date-time" type="d:date-time" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            The end time for completing the task.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="schedule-type" type="this:task-schedule-type">
                <annotation>
                    <documentation>
                        <summary>
                            The schedule type.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="recurrence-type" type="this:task-recurrence-type">
                <annotation>
                    <documentation>
                        <summary>
                            The task recurrence.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="group-id" type="t:stringnznw" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            Used to relate multiple schedule entries that are essentially all the same schedule
                            appearing at different days or times.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="multiple" type="t:positiveInt" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            A multiplier on the recurrence type. For example, if it's daily with
                            a multiple of 2, it will be scheduled every other day.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="minutes-to-remind-before" type="t:nonNegativeDouble" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            How far before the scheduled time the user should receive a reminder, in minutes.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="adherence-window-in-minutes" type="t:nonNegativeDouble" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            The window around the scheduled time when the task can be completed, in minutes.
                        </summary>
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="task-tracking-policy">
        <annotation>
            <documentation>
                <summary>
                    The rules for tracking task completion.
                </summary>
            </documentation>
        </annotation>
        <sequence>
            <element name="is-auto-trackable" type="boolean" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            Whether the task completion workflow can be triggered
                            automatically by a change in the user's health data.
                        </summary>
                        <remarks>
                            For example, if the task is to measure the user's blood pressure, an auto-
                            trackable workflow could be triggered when a blood pressure entry is uploaded to
                            the user's HealthVault record.
                        </remarks>
                    </documentation>
                </annotation>
            </element>
            <element name="source-types" type="this:tracking-source-types">
                <annotation>
                    <documentation>
                        <summary>
                            The types of data that can cause the tracking/completion workflow to be triggered.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="trigger-types" type="this:tracking-trigger-types">
                <annotation>
                    <documentation>
                        <summary>
                            The processes that can cause the tracking/completion workflow to be triggered.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="occurrence-metrics" type="this:task-occurrence-metrics" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            The definition for evaluating a health measurement or activity to
                            decide whether a task occurred.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="completion-metrics" type="this:task-completion-metrics">
                <annotation>
                    <documentation>
                        <summary>
                            The definition for evaluating a health measurement or activity to
                            decide whether a task was completed.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="target-events" type="this:task-target-events" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            A set of filters to be performed on a collection of health measurements or activities.
                            These filters determine which items should be further evaluated for task
                            occurrence and completion.
                        </summary>
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    
    <complexType name="tracking-trigger-types">
        <sequence>
            <element name="trigger-type" type="this:tracking-trigger-type" minOccurs="1" maxOccurs="unbounded" />
        </sequence>
    </complexType>
    
    <complexType name="tracking-source-types">
        <sequence>
            <element name="source-type" type="this:tracking-source-type" minOccurs="1" maxOccurs="unbounded" />
        </sequence>
    </complexType>

    <complexType name="task-occurrence-metrics">
        <annotation>
            <documentation>
                <summary>
                    The definition for evaluating a health measurement or activity to
                    decide whether a task occurred.
                </summary>
            </documentation>
        </annotation>
        <sequence>
            <element name="evaluate-targets" type="boolean" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            Whether to evaluate the metric targets.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="targets" type="this:task-range-metrics" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            The rules that a HealthVault item must meet to be counted as a task occurrence.
                        </summary>
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="task-range-metrics">
        <sequence>
            <element name="target" type="this:task-range-metric" minOccurs="1" maxOccurs="unbounded" />
        </sequence>
    </complexType>

    <complexType name="task-range-metric">
        <annotation>
            <documentation>
                <summary>
                    The rules that a HealthVault item must meet to count toward task occurrence.
                </summary>
            </documentation>
        </annotation>
        <sequence>
            <element name="property-xpath" type="t:stringnznw">
                <annotation>
                    <documentation>
                        <summary>
                            The xpath to the property to be evaluated within the item XML.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="min-target" type="double" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            The minimum allowed value of the property.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="max-target" type="double" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            The maximum allowed value of the property.
                        </summary>
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="task-completion-metrics">
        <annotation>
            <documentation>
                <summary>
                    The definition for evaluating a health measurement or activity to decide whether
                    a task was completed.
                </summary>
            </documentation>
        </annotation>
        <sequence>
            <element name="recurrence-type" type="this:task-recurrence-type">
                <annotation>
                    <documentation>
                        <summary>
                            How often the task should occur.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="completion-type" type="this:task-completion-type">
                <annotation>
                    <documentation>
                        <summary>
                            The method for evaluating task completion.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="occurrence-count" type="t:positiveInt" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            For frequency-based tasks, indicates how many times the task should occur.
                        </summary>
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="task-target-events">
        <sequence>
            <element name="target-event" type="this:task-target-event" minOccurs="1" maxOccurs="unbounded" />
        </sequence>
    </complexType>

    <complexType name="task-target-event">
        <annotation>
            <documentation>
                <summary>
                    A filter to be performed on a collection of health measurements or activities.
                    This determines which items should be further evaluated for task
                    occurrence and completion.
                </summary>
            </documentation>
        </annotation>
        <sequence>
            <element name="element-xpath" type="t:stringnznw">
                <annotation>
                    <documentation>
                        <summary>
                            The xpath to the element to be evaluated within the item XML.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="is-negated" type="boolean" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            If false or omitted, the element must match one of the values in element-values.
                            If true, the element must NOT match any of the values in element-values.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="element-values" type="this:strings" minOccurs="0">
                <annotation>
                    <documentation>
                        <summary>
                            The values that the element is to be evaluated against for a match.
                        </summary>
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <simpleType name="task-status">
        <annotation>
            <documentation>
                <summary>
                    The task status.
                </summary>
            </documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="Archived">
                <annotation>
                    <documentation>
                        <summary>
                            User is no longer working on this task.
                        </summary>
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="InProgress">
                <annotation>
                    <documentation>
                        <summary>
                            User is actively working on this task.
                        </summary>
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="Recommended">
                <annotation>
                    <documentation>
                        <summary>
                            User has not started working on this task.
                        </summary>
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="Completed">
                <annotation>
                    <documentation>
                        <summary>
                            User worked on this task through to completion of the prescribed program.
                        </summary>
                    </documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>

    <simpleType name="task-recurrence-type">
        <annotation>
            <documentation>
                <summary>
                    How often the task should occur.
                </summary>
            </documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="None" />
            <enumeration value="Minute" />
            <enumeration value="Hourly" />
            <enumeration value="Daily" />
            <enumeration value="Weekly" />
            <enumeration value="Monthly" />
            <enumeration value="Yearly" />
        </restriction>
    </simpleType>

    <simpleType name="task-schedule-type">
        <annotation>
            <documentation>
                <summary>
                    The schedule type.
                </summary>
            </documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="Zoned">
                <annotation>
                    <documentation>
                        <summary>
                            Task is scheduled at an absolute time independent of the local timezone.
                        </summary>
                        <remarks>
                            An example would be a task to take medication every 4 hours.
                        </remarks>
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="Local">
                <annotation>
                    <documentation>
                        <summary>
                            Task is scheduled at a relative time in the local timezone.
                        </summary>
                        <remarks>
                            An example would be a task to go running at 7am every morning.
                        </remarks>
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="Unscheduled">
                <annotation>
                    <documentation>
                        <summary>
                            Task is unscheduled.
                        </summary>
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="Anytime">
                <annotation>
                    <documentation>
                        <summary>
                            Task can occur at any time.
                        </summary>
                    </documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>

    <simpleType name="tracking-trigger-type">
        <annotation>
            <documentation>
                <summary>
                    The processes that can cause the tracking/completion workflow to be triggered.
                </summary>
            </documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="Manual">
                <annotation>
                    <documentation>
                        <summary>
                            The workflow is triggered by a manual action from the user.
                        </summary>
                        <remarks>
                            For example, the user pressing a button in the application to
                            indicate that they performed the task might trigger the workflow.
                        </remarks>
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="HealthVaultItem">
                <annotation>
                    <documentation>
                        <summary>
                            The workflow is triggered by a change in the user's HealthVault data.
                        </summary>
                        <remarks>
                            For example, if the task is to measure blood pressure, a blood pressure
                            measurement being uploaded from the user's blood pressure monitor could
                            trigger the workflow.
                        </remarks>
                    </documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>

    <simpleType name="tracking-source-type">
        <annotation>
            <documentation>
                <summary>
                    The types of data that can cause the tracking/completion workflow to be triggered.
                </summary>
            </documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="Manual">
                <annotation>
                    <documentation>
                        <summary>
                            The workflow is triggered by manual input from the user.
                        </summary>
                        <remarks>
                            For example, the user pressing a button in the application to
                            indicate that they performed the task might trigger the workflow.
                        </remarks>
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="HealthVaultItem">
                <annotation>
                    <documentation>
                        <summary>
                            The workflow is triggered by new data in the user's HealthVault record.
                        </summary>
                        <remarks>
                            For example, if the task is to measure blood pressure, a new blood pressure
                            measurement uploaded from the user's blood pressure monitor could
                            trigger the workflow.
                        </remarks>
                    </documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>

    <simpleType name="task-completion-type">
        <annotation>
            <documentation>
                <summary>
                    The method for evaluating task completion.
                </summary>
            </documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="Frequency">
                <annotation>
                    <documentation>
                        <summary>
                            Task completion is determined by performing the task the required
                            number of times within a time range.
                        </summary>
                        <remarks>
                            For example, a task to exercise three times a week.
                        </remarks>
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="Scheduled">
                <annotation>
                    <documentation>
                        <summary>
                            Task completion is determined by performing the task at a scheduled time.
                        </summary>
                        <remarks>
                            For example, a task to exercise every day at 7am.
                        </remarks>
                    </documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>

    <simpleType name="metric-value-type">
        <annotation>
            <documentation>
                <summary>
                    Indicates what a property on a HealthVault item represents and how it should be evaluated.
                </summary>
            </documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="MinutesToMidnight" />
        </restriction>
    </simpleType>

    <element name="task">
        <complexType>
            <annotation>
                <documentation>
                    <summary>
                        A single task assigned to a user as part of a plan.
                    </summary>
                </documentation>
            </annotation>
            <sequence>
				<element name="date-started" type="d:date-time">
                    <annotation>
                        <documentation>
                            <summary>
                                The date the user started performing this task as part of their plan.
                            </summary>
                        </documentation>
                    </annotation>
                </element>
                <element name="name" type="t:stringnznw">
                    <annotation>
                        <documentation>
                            <summary>
                                The task name.
                            </summary>
                            <remarks>
                                Applications typically display this string and would pass in a value
                                in the user's display language.
                            </remarks>
                        </documentation>
                    </annotation>
                </element>
                <element name="short-description" type="t:string128">
                    <annotation>
                        <documentation>
                            <summary>
                                A brief description of the task.
                            </summary>
                            <remarks>
                                Applications typically display this string and would pass in a value
                                in the user's display language.
                            </remarks>
                        </documentation>
                    </annotation>
                </element>
                <element name="long-description" type="t:stringnznw">
                    <annotation>
                        <documentation>
                            <summary>
                                A more detailed description of the task.
                            </summary>
                            <remarks>
                                Applications typically display this string and would pass in a value
                                in the user's display language.
                            </remarks>
                        </documentation>
                    </annotation>
                </element>
                <element name="is-reminder-enabled" type="boolean" minOccurs="0">
                    <annotation>
                        <documentation>
                            <summary>
                                Whether the user should receive a reminder at the task's scheduled time.
                            </summary>
                        </documentation>
                    </annotation>
                </element>
                <element name="status" type="this:task-status">
                    <annotation>
                        <documentation>
                            <summary>
                                The task status.
                            </summary>
                        </documentation>
                    </annotation>
                </element>
				<element name="task-key" type="t:guid" minOccurs="0">
					<annotation>
                        <documentation>
                            <summary>
                                The key (Guid) that a provider maintains a mapping to upon task creation.
                                This key can later be used to identify like-tasks assigned to multiple users and
                                unify the anonymized task data exported from HealthVault.
                            </summary>
                        </documentation>
                    </annotation>
                </element>
                <element name="type" type="t:guid" minOccurs="0">
                    <annotation>
                        <documentation>
                            <summary>
                                For a task whose completion is tied to recording a specific health measurement or other
                                piece of data, this indicates the item type to be recorded.
                            </summary>
                            <remarks>
                                For example, if the task is to take your blood pressure, this would be the blood pressure type ID.
                            </remarks>
                        </documentation>
                    </annotation>
                </element>
                <element name="schedules" type="this:task-schedules" minOccurs="0">
                    <annotation>
                        <documentation>
                            <summary>
                                The schedule of when the task is to be performed.
                            </summary>
                        </documentation>
                    </annotation>
                </element>
                <element name="tracking-policy" type="this:task-tracking-policy" minOccurs="0">
                    <annotation>
                        <documentation>
                            <summary>
                                The rules for tracking task completion.
                            </summary>
                        </documentation>
                    </annotation>
                </element>
                <element name="associated-objective-ids" type="this:guids" minOccurs="0">
                    <annotation>
                        <documentation>
                            <summary>
                                The plan objectives that completion of this task counts towards.
                            </summary>
                            <remarks>
                                These values should match objective IDs defined in the associated plan.
                            </remarks>
                        </documentation>
                    </annotation>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>